<a href="https://colab.research.google.com/github/hswarup/Exploratory-Analysis/blob/master/Spark_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Download Chicago's Reported Crime Data

## Download and install Spark

In [0]:
!ls

data   reported-crimes.csv	requirements.txt  spark-2.4.4-bin-hadoop2.7
drive  reported_crimes_parquet	sample_data	  spark-2.4.4-bin-hadoop2.7.tgz

In [0]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark
!pip install pyspark

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:7 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:10 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,811 kB]
Fetched 2,082 kB in 2s (893 kB/s)
Reading package lists... Done
Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

## Setup Spark environment

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"


from pyspark.sql import SparkSession
from pyspark.sql.functions import to_timestamp,col,lit
spark = SparkSession.builder.getOrCreate() 
spark

In [0]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()
sc

## Downloading and preprocessing Chicago's Reported Crime Data

In [0]:
#!wget https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD

--2020-04-15 19:00:29--  https://data.cityofchicago.org/api/views/ijzp-q8t2/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘rows.csv?accessType=DOWNLOAD’

rows.csv?accessType     [  <=>               ]   1.56G  2.82MB/s    in 11m 11s

2020-04-15 19:11:41 (2.38 MB/s) - ‘rows.csv?accessType=DOWNLOAD’ saved [1674980963]

In [0]:
#!ls

 drive				 spark-2.4.4-bin-hadoop2.7
'rows.csv?accessType=DOWNLOAD'	 spark-2.4.4-bin-hadoop2.7.tgz
 sample_data			 spark-warehouse

##Rename the input file to a smaller/readable name

In [0]:
#!mv 'rows.csv?accessType=DOWNLOAD' reported-crimes.csv

##Read the input CSV File

In [0]:
#from pyspark.sql.functions import to_timestamp,col,lit
#rc = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') <= lit('2018-11-11'))
#rc.show(5)

## View the structure/schema of Input File

In [0]:
#rc.dtypes
#rc.printSchema()
#rc.columns

In [0]:
#rc.count()
#rc.describe().show()

## Create a Parquet File from .CSV File and store it in Google Drive
### This is done for better performance obtained from .parquet format(Compression and Using Parallel processing)

In [0]:
#from google.colab import drive
#drive.mount('/content/drive')
# df2 = rc.select(
# 	col("ID"),\
# 	col("Case Number").alias("Case_Number"),\
# 	col("Date"),\
# 	col("Block"),\
# 	col("IUCR"),\
# 	col("Primary Type").alias("Primary_Type"),\
# 	col("Description"),\
# 	col("Location Description").alias("Location_Description"),\
# 	col("Arrest"),\
# 	col("Domestic"),\
# 	col("Beat"),\
# 	col("District"),\
# 	col("Ward"),\
# 	col("Community Area").alias("Community_Area"),\
# 	col("FBI Code").alias("FBICode"),\
# 	col("X Coordinate").alias("X_Coordinate"),\
# 	col("Y Coordinate").alias("Y_Coordinate"),\
# 	col("Year"),\
# 	col("Updated On").alias("Updated_On"),\
# 	col("Latitude"),\
# 	col("Longitude"),\
# 	col("Location")\
# )
#df2.show()
#df2.write.save("/content/drive/My Drive/data/reported_crimes_parquet",format="parquet")

## Read the input Parquet File

In [0]:
from google.colab import drive
drive.mount('/content/drive')
#!ls -lRt /content/drive/My\ Drive/data

rc = spark.read.format("parquet").load("/content/drive/My Drive/data/reported_crimes_parquet")
rc.show()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     ID|Case_Number|               Date|               Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|1730080|    G536683|2001-09-06 20:00:00|  093XX S CRANDON AV|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...|
|1730081|    G534867|2001-09-06 20:12:38|    055XX S STATE ST|1710|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|
|1730082|    G536731|2001-09-02 23:30:00|       015XX E 72 PL|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|
|1730084|    G532276|2001-09-05 17:15:00|   063XX S DREXEL AV|0820|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|
|1730087|    G536760|2001-09-07 12:00:00|  005XX N HALSTED ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|
|1730088|    G536719|2001-09-07 10:00:00|008XX E MIDWAY PL...|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|2133|     002|null|          null|     07|     1182622|     1865900|2001|08/17/2015 03:03:...|41.787240066|-87.605942299|(41.787240066, -8...|
|1730089|    G535462|2001-09-07 04:10:00|  063XX S MINERVA AV|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|    true|0314|     003|null|          null|    08B|     1185218|     1862870|2001|08/17/2015 03:03:...|41.778864827|-87.596519232|(41.778864827, -8...|
|1730091|    G536745|2001-08-27 00:01:00|   017XX W ALBION AV|0920| MOTOR VEHICLE THEFT|     ATT: AUTOMOBILE|               OTHER| false|   false|2432|     024|null|          null|     07|     1163232|     1943839|2001|08/17/2015 03:03:...|42.001538906|-87.674843633|(42.001538906, -8...|
|1730092|    G536772|2001-09-07 16:30:00|   082XX S MORGAN ST|4387|       OTHER OFFENSE|VIOLATE ORDER OF ...|           RESIDENCE| false|    true|0613|     006|null|          null|     26|     1171038|     1850252|2001|08/17/2015 03:03:...| 41.74456109|-87.648872089|(41.74456109, -87...|
|1730094|    G536735|2001-09-07 14:24:00|  052XX N LINCOLN AV|0810|               THEFT|           OVER $500|              STREET| false|   false|2011|     020|null|          null|     06|     1158483|     1934791|2001|08/17/2015 03:03:...|41.976809711|-87.692563577|(41.976809711, -8...|
|1730097|    G536804|2001-09-07 07:00:00|       035XX W 26 ST|0820|               THEFT|      $500 AND UNDER|             CTA BUS| false|   false|1024|     010|null|          null|     06|     1153433|     1886545|2001|08/17/2015 03:03:...|41.844520531|-87.712419066|(41.844520531, -8...|
|1730098|    G536797|2001-09-07 08:00:00|  031XX S KOSTNER AV|0820|               THEFT|      $500 AND UNDER|VEHICLE NON-COMME...| false|   false|1031|     010|null|          null|     06|     1147599|     1883464|2001|08/17/2015 03:03:...|  41.8361796|-87.733908042|(41.8361796, -87....|
|1730099|    G536818|2001-09-07 08:00:00|    104XX S AVENUE L|1320|     CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|0432|     004|null|          null|     14|     1201796|     1836388|2001|08/17/2015 03:03:...|41.705790611|-87.536643149|(41.705790611, -8...|
|1730101|    G536824|2001-09-07 13:00:00|       008XX W 51 PL|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|0934|     009|null|          null|     14|     1171318|     1870652|2001|08/17/2015 03:03:...| 41.80053503|-87.647249836|(41.80053503, -87...|
|1730103|    G536801|2001-09-07 10:00:00|  014XX W ARDMORE AV|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2013|     020|null|          null|     14|     1165729|     1938920|2001|08/17/2015 03:03:...|41.987987988|-87.665798627|(41.987987988, -8...|
|1730104|    G532885|2001-09-05 22:34:28|   057XX S WABASH AV|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|            SIDEWALK|  true|   false|0233|     002|null|          null|     15|     1177657|     1866870|2001|08/17/2015 03:03:...|41.790015665|-87.624117276|(41.790015665, -8...|
|1730106|    G536755|2001-09-07 07:45:00|    049XX W ADAMS ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|    true|1533|     015|null|          null|     26|     1143539|     1898838|2001|08/17/2015 03:03:...|41.878444691|-87.748421552|(41.878444691, -8...|
|1730108|    G536849|2001-09-06 18:00:00|  062XX S PAULINA ST|0610|            BURGLARY|      FORCIBLE ENTRY|    RESIDENCE-GARAGE| false|   false|0714|     007|null|          null|     05|     1166122|     1863199|2001|08/17/2015 03:03:...|41.780195312| -87.66651722|(41.780195312, -8...|
|1730109|    G533074|2001-09-06 01:45:01|  044XX S FEDERAL ST|041A|             BATTERY| AGGRAVATED: HANDGUN|CHA PARKING LOT/G...| false|   false|0221|     002|null|          null|    04B|     1176393|     1875487|2001|08/17/2015 03:03:...|41.813690054|-87.628492882|(41.813690054, -8...|
|1730110|    G536832|2001-09-07 16:00:00|      040XX E 134 ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|0433|     004|null|          null|     26|     1204479|     1816701|2001|08/17/2015 03:03:...|41.651699175|-87.527492734|(41.651699175, -8...|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [0]:
rc.count()

6752637

##A demo showing how to read a parquet file using pandas(takes a bit longer than spark)
*Also,The Colab instance crashed when running it for the 2nd time*

In [0]:
#import pandas as pd
#pandas_df=pd.read_parquet("/content/drive/My Drive/data/reported_crimes_parquet")
#pandas_df.sample(10)

In [0]:
#small_rc = rc.sample(fraction=0.0001)
#small_rc.show()

+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     ID|Case_Number|               Date|               Block|IUCR|       Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|1730681|    G537925|2001-09-08 03:00:00|    054XX S DAMEN AV|041A|            BATTERY| AGGRAVATED: HANDGUN|              STREET|  true|   false|0915|     009|null|          null|    04B|     1163919|     1868214|2001|08/17/2015 03:03:...|41.794003712|-87.674452893|(41.794003712, -8...|
|1771180|    G586641|2001-09-30 14:30:00|   026XX N WILTON AV|0560|            ASSAULT|              SIMPLE|              STREET| false|   false|1933|     019|null|          null|    08A|     1169534|     1917949|2001|08/17/2015 03:03:...|41.930360626| -87.65241654|(41.930360626, -8...|
|1779712|    G597310|2001-10-04 23:00:00|    068XX S GREEN ST|0320|            ROBBERY|STRONGARM - NO WE...|           RESIDENCE| false|   false|0723|     007|null|          null|     03|     1171854|     1859583|2001|08/17/2015 03:03:...|41.770148686|-87.645608847|(41.770148686, -8...|
|1786445|    G604895|2001-10-08 20:29:28|       005XX E 47 ST|0420|            BATTERY|AGGRAVATED:KNIFE/...|              STREET| false|   false|0222|     002|null|          null|    04B|     1180734|     1874015|2001|08/17/2015 03:03:...|41.809551959|-87.612615224|(41.809551959, -8...|
|1791790|    G612989|2001-10-11 14:45:00|   013XX W TAYLOR ST|041A|            BATTERY| AGGRAVATED: HANDGUN|              STREET| false|   false|1231|     012|null|          null|    04B|     1167852|     1895672|2001|08/17/2015 03:03:...|41.869267559|-87.659240688|(41.869267559, -8...|
|1799099|    G625904|2001-10-17 22:00:00|    108XX S UNION AV|0910|MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|2233|     022|null|          null|     07|     1173530|     1832967|2001|08/17/2015 03:03:...|41.697073859| -87.64025099|(41.697073859, -8...|
|1816088|    G646233|2001-10-27 10:15:00|   006XX N PEORIA ST|0810|              THEFT|           OVER $500|VEHICLE NON-COMME...| false|   false|1323|     012|null|          null|     06|     1170228|     1904756|2001|08/17/2015 03:03:...|41.894143157|-87.650252382|(41.894143157, -8...|
|1826289|    G655221|2001-10-31 12:05:00|       015XX E 55 ST|0820|              THEFT|      $500 AND UNDER|          DRUG STORE|  true|   false|2132|     002|null|          null|     06|     1187428|     1868878|2001|08/17/2015 03:03:...|41.795298999|-87.588226431|(41.795298999, -8...|
|1847037|    G686138|2001-07-13 16:00:00|       016XX W 18 PL|5001|      OTHER OFFENSE|OTHER CRIME INVOL...|PARKING LOT/GARAG...| false|   false|1222|     012|null|          null|     26|     1165698|     1891173|2001|08/17/2015 03:03:...| 41.85696805|-87.667276699|(41.85696805, -87...|
|1874298|    G721785|2001-12-01 18:00:00|077XX S CARPENTER ST|0910|MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0612|     006|null|          null|     07|     1170612|     1853601|2001|08/17/2015 03:03:...| 41.75376048|-87.650335598|(41.75376048, -87...|
|1877709|    G722540|2001-12-01 09:00:00|    073XX S HOYNE AV|1310|    CRIMINAL DAMAGE|         TO PROPERTY|SCHOOL, PUBLIC, B...| false|   false|0735|     007|null|          null|     14|     1163589|     1856037|2001|08/17/2015 03:03:...|41.760595326|-87.676004303|(41.760595326, -8...|
|1879110|    G726216|2001-12-04 08:39:00|008XX W ROOSEVELT RD|5001|      OTHER OFFENSE|OTHER CRIME INVOL...|VEHICLE NON-COMME...| false|    true|1232|     012|null|          null|     26|     1170796|     1894875|2001|08/17/2015 03:03:...|41.867016583| -87.64845591|(41.867016583, -8...|
|1879297|    G724649|2001-11-29 22:00:00|   026XX N WILTON AV|0810|              THEFT|           OVER $500|           RESIDENCE| false|   false|1933|     019|null|          null|     06|     1169542|     1917723|2001|08/17/2015 03:03:...|41.929740297|-87.652393738|(41.929740297, -8...|
|1883780|    G731636|2001-12-06 15:00:00|   014XX W WILLOW ST|1210| DECEPTIVE PRACTICE|THEFT OF LABOR/SE...|FACTORY/MANUFACTU...|  true|   false|1433|     014|null|          null|     11|     1166512|     1911938|2001|08/17/2015 03:03:...|41.913931414|-87.663694111|(41.913931414, -8...|
|1902622|    G756387|2001-12-18 17:15:00|       021XX E 71 ST|1330|  CRIMINAL TRESPASS|             TO LAND|PARKING LOT/GARAG...|  true|   false|0333|     003|null|          null|     26|     1191459|     1858232|2001|08/17/2015 03:03:...|41.765988783|-87.573789768|(41.765988783, -8...|
|1905512|    G761207|2001-12-21 04:50:00|   046XX N KASSON AV|0313|            ROBBERY|ARMED: OTHER DANG...|            SIDEWALK| false|   false|1722|     017|null|          null|     03|     1147264|     1930491|2001|08/17/2015 03:03:...|41.965233071|-87.733931625|(41.965233071, -8...|
|1955082|   HH144522|2002-01-23 23:22:23|   039XX N CICERO AV|0460|            BATTERY|              SIMPLE|            SIDEWALK| false|   false|1634|     016|null|          null|    08B|     1143666|     1925687|2002|02/10/2018 03:50:...|41.952118798|-87.747281577|(41.952118798, -8...|
|1964913|   HH156046|2002-01-28 23:00:00| 015XX N SEDGWICK ST|1320|    CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1821|     018|null|          null|     14|     1173367|     1910509|2002|02/28/2018 03:56:...|41.909860541|-87.638552799|(41.909860541, -8...|
|1972774|   HH166611|2002-02-04 12:37:45|  053XX S PULASKI RD|0820|              THEFT|      $500 AND UNDER|  GROCERY FOOD STORE| false|   false|0815|     008|null|          null|     06|     1150608|     1868908|2002|02/10/2018 03:50:...|41.796177739|-87.723246029|(41.796177739, -8...|
|1974405|   HH169383|2002-02-05 19:03:00|    013XX W ESTES AV|0460|            BATTERY|              SIMPLE|           APARTMENT| false|    true|2423|     024|null|          null|    08B|     1166019|     1947523|2002|02/10/2018 03:50:...|42.011588594|-87.664484816|(42.011588594, -8...|
+-------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

## Spark SQL (Create a Table)

In [0]:
rc.createOrReplaceTempView("reported_crimes")

In [0]:
spark.sql("SELECT COUNT(*) FROM reported_crimes ").show()

+--------+
|count(1)|
+--------+
| 6752637|
+--------+

##Resilient Distributed Datasets(Low Level)

In [0]:
#To read from .CSV
rdd = sc.textFile("reported-crimes.csv",)
rdd.first()
#type(rdd)
#help(sc.textFile)

# To read from parquet - but this is returning a dataframe instead of a RDD object and thus not correct
# from pyspark import SQLContext
# #help(dir(SQLContext))
# sqc = SQLContext(sc)
# sqc
# rdd = sqc.read.parquet("/content/drive/My Drive/data/reported_crimes_parquet")
# print (type(rdd))
# rdd.first()

Help on method textFile in module pyspark.context:

textFile(name, minPartitions=None, use_unicode=True) method of pyspark.context.SparkContext instance
    Read a text file from HDFS, a local file system (available on all
    nodes), or any Hadoop-supported file system URI, and return it as an
    RDD of Strings.

    If use_unicode is False, the strings will be kept as `str` (encoding
    as `utf-8`), which is faster and smaller than unicode. (Added in
    Spark 1.2)

    >>> path = os.path.join(tempdir, "sample-text.txt")
    >>> with open(path, "w") as testFile:
    ...    _ = testFile.write("Hello world!")
    >>> textFile = sc.textFile(path)
    >>> textFile.collect()
    ['Hello world!']

In [0]:
rdd_header = rdd.first()
rdd_header

Row(ID='1730080', Case_Number='G536683', Date=datetime.datetime(2001, 9, 6, 20, 0), Block='093XX S CRANDON AV', IUCR='0910', Primary_Type='MOTOR VEHICLE THEFT', Description='AUTOMOBILE', Location_Description='STREET', Arrest='true', Domestic='false', Beat='0413', District='004', Ward=None, Community_Area=None, FBICode='07', X_Coordinate='1193108', Y_Coordinate='1843138', Year='2001', Updated_On='08/17/2015 03:03:40 PM', Latitude='41.724529445', Longitude='-87.568237637', Location='(41.724529445, -87.568237637)')

In [0]:
rdd_new = rdd.filter(lambda line:line != rdd_header)
rdd_new.first()

TypeError: ignored

In [0]:
#rdd_new.filter(lambda line : line.split(",")).sample(withReplacement=False,fraction=0.0001).first()
output_rdd = rdd_new.filter(lambda line : line.split(",")[5]=='ASSAULT').\
                     map(lambda line : (line.split(",")[1],line.split(",")[6])).\
                     sample(withReplacement=False,fraction=0.0001).\
                     collect()
output_rdd

[('G648270', 'AGGRAVATED: HANDGUN'),
 ('HY270154', 'AGGRAVATED: HANDGUN'),
 ('HY394621', 'SIMPLE'),
 ('HY504731', 'AGGRAVATED: OTHER FIREARM'),
 ('HZ200806', 'SIMPLE'),
 ('HZ302671', 'SIMPLE'),
 ('HZ354501', 'SIMPLE'),
 ('HZ521821', 'AGGRAVATED: HANDGUN'),
 ('JB262796', 'AGGRAVATED: HANDGUN'),
 ('JB283580', 'SIMPLE'),
 ('JB395720', 'SIMPLE'),
 ('JB447394', 'SIMPLE'),
 ('JB570892', 'SIMPLE'),
 ('JC119602', 'SIMPLE'),
 ('JC208474', 'SIMPLE'),
 ('G340551', 'SIMPLE'),
 ('HH165841', 'AGGRAVATED: HANDGUN'),
 ('HH427720', 'SIMPLE'),
 ('HH541489', 'SIMPLE'),
 ('HH547902', 'AGGRAVATED:KNIFE/CUTTING INSTR'),
 ('HH707907', 'SIMPLE'),
 ('HJ206263', 'SIMPLE'),
 ('HJ680436', 'SIMPLE'),
 ('HK137699', 'AGGRAVATED: HANDGUN'),
 ('HK201784', 'SIMPLE'),
 ('HK647431', 'SIMPLE'),
 ('HK774664', 'SIMPLE'),
 ('HL409825', 'SIMPLE'),
 ('HL580434', 'SIMPLE'),
 ('HL658878', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HL721934', 'SIMPLE'),
 ('HM650744', 'SIMPLE'),
 ('HN165367', 'SIMPLE'),
 ('HN208310', 'SIMPLE'),
 ('HN759384', 'SIMPLE'),
 ('HP222084', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HP317802', 'SIMPLE'),
 ('HP351056', 'SIMPLE'),
 ('HP670528', 'AGGRAVATED:KNIFE/CUTTING INSTR'),
 ('HR189547', 'AGGRAVATED: OTHER DANG WEAPON'),
 ('HR429569', 'SIMPLE'),
 ('HS268781', 'SIMPLE'),
 ('HT123243', 'SIMPLE'),
 ('HV290099', 'AGGRAVATED: OTHER DANG WEAPON'),
 ('HV398554', 'SIMPLE'),
 ('HV484296', 'SIMPLE'),
 ('HV567441', 'SIMPLE'),
 ('HW324734', 'SIMPLE'),
 ('HW456034', 'SIMPLE'),
 ('HW567643', 'SIMPLE'),
 ('HX329365', 'AGGRAVATED:KNIFE/CUTTING INSTR')]

##Display the first 5 rows of the column IUCR

In [0]:
# Spark SQL
spark.sql("SELECT iucr FROM reported_crimes LIMIT 5").show()

+----+
|iucr|
+----+
|0910|
|1710|
|0910|
|0820|
|0820|
+----+

In [0]:
# Dataframe API
rc.select(col("IUCR")).show(5)

+----+
|IUCR|
+----+
|0910|
|1710|
|0910|
|0820|
|0820|
+----+
only showing top 5 rows

##Display only the first 4 rows of the column names Case Number, Date and Arrest

In [0]:
#Spark SQL
spark.sql("SELECT case_number,date,arrest FROM reported_crimes LIMIT 4").show()

+-----------+-------------------+------+
|case_number|               date|arrest|
+-----------+-------------------+------+
|    G536683|2001-09-06 20:00:00|  true|
|    G534867|2001-09-06 20:12:38| false|
|    G536731|2001-09-02 23:30:00| false|
|    G532276|2001-09-05 17:15:00|  true|
+-----------+-------------------+------+

In [0]:
#Dataframe API
rc.select(["case_number","date","arrest"]).show(4)

+-----------+-------------------+------+
|case_number|               date|arrest|
+-----------+-------------------+------+
|    G536683|2001-09-06 20:00:00|  true|
|    G534867|2001-09-06 20:12:38| false|
|    G536731|2001-09-02 23:30:00| false|
|    G532276|2001-09-05 17:15:00|  true|
+-----------+-------------------+------+
only showing top 4 rows

## Add a column with name One, with entries all 1s

In [0]:
# Spark SQL
add1_df = spark.sql("SELECT *,1 AS One FROM reported_crimes LIMIT 5").show()
add1_df

+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|     ID|Case_Number|               Date|             Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|One|
+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|1730080|    G536683|2001-09-06 20:00:00|093XX S CRANDON AV|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...|  1|
|1730081|    G534867|2001-09-06 20:12:38|  055XX S STATE ST|1710|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|  1|
|1730082|    G536731|2001-09-02 23:30:00|     015XX E 72 PL|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|  1|
|1730084|    G532276|2001-09-05 17:15:00| 063XX S DREXEL AV|0820|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|  1|
|1730087|    G536760|2001-09-07 12:00:00|005XX N HALSTED ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|  1|
+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+

In [0]:
# Dataframe API
add1_df = rc.withColumn("One",lit(1))
add1_df.show(5)

+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|     ID|Case_Number|               Date|             Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|One|
+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
|1730080|    G536683|2001-09-06 20:00:00|093XX S CRANDON AV|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...|  1|
|1730081|    G534867|2001-09-06 20:12:38|  055XX S STATE ST|1710|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|  1|
|1730082|    G536731|2001-09-02 23:30:00|     015XX E 72 PL|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|  1|
|1730084|    G532276|2001-09-05 17:15:00| 063XX S DREXEL AV|0820|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|  1|
|1730087|    G536760|2001-09-07 12:00:00|005XX N HALSTED ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|  1|
+-------+-----------+-------------------+------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+---+
only showing top 5 rows

##Remove the column IUCR

In [0]:
#Spark SQL
minus_iucr = spark.sql("SELECT  id,case_number,date,block,primary_type,description,location_description,arrest,domestic,beat,district,ward,community_area,fbicode,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location FROM reported_crimes LIMIT 5")
minus_iucr.show()

+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     id|case_number|               date|             block|        primary_type|         description|location_description|arrest|domestic|beat|district|ward|community_area|fbicode|x_coordinate|y_coordinate|year|          updated_on|    latitude|    longitude|            location|
+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|1730080|    G536683|2001-09-06 20:00:00|093XX S CRANDON AV| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...|
|1730081|    G534867|2001-09-06 20:12:38|  055XX S STATE ST|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|
|1730082|    G536731|2001-09-02 23:30:00|     015XX E 72 PL| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|
|1730084|    G532276|2001-09-05 17:15:00| 063XX S DREXEL AV|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|
|1730087|    G536760|2001-09-07 12:00:00|005XX N HALSTED ST|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|
+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+

In [0]:
#Dataframe API
rc.drop("IUCR").show(5)

+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|     ID|Case_Number|               Date|             Block|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|
+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|1730080|    G536683|2001-09-06 20:00:00|093XX S CRANDON AV| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...|
|1730081|    G534867|2001-09-06 20:12:38|  055XX S STATE ST|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|
|1730082|    G536731|2001-09-02 23:30:00|     015XX E 72 PL| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|
|1730084|    G532276|2001-09-05 17:15:00| 063XX S DREXEL AV|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|
|1730087|    G536760|2001-09-07 12:00:00|005XX N HALSTED ST|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|
+-------+-----------+-------------------+------------------+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

##Add the reported crimes for an additional day, 12-Nov-2018, to our dataset.

In [0]:
#Dataframe API (Tried using a read parquet..Was resulting in empty records..Hence using csv)
rc_12Nov2018 = spark.read.csv('reported-crimes.csv',header=True).withColumn('Date',to_timestamp(col('Date'),'MM/dd/yyyy hh:mm:ss a')).filter(col('Date') == lit('2018-11-12'))
rc_12Nov2018.show(5)

#Before Union
#rc.count()
#6752637

#After Union
rc = rc.union(rc_12Nov2018)        ## Looks like the dataframe operations slowed down after this UNION operation
rc.count()
rc.orderBy("Date",ascending=False).show(5)

+--------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case_Number|               Date|               Block|IUCR|       Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location|
+--------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
|11505149|   JB513151|2018-11-12 00:00:00|  003XX S WHIPPLE ST|0810|              THEFT|           OVER $500|              STREET| false|   false|1124|     011|  28|            27|     06|     1156099|     1898319|2018|11/19/2018 04:22:...|41.876776356|-87.702317641|(41.876776356, -8...|
|11516594|   JB528186|2018-11-12 00:00:00| 049XX S PRAIRIE AVE|2826|      OTHER OFFENSE|HARASSMENT BY ELE...|               OTHER| false|   false|0224|     002|   3|            38|     26|     1178879|     1872259|2018|11/28/2018 04:14:...|41.804775828|-87.619472488|(41.804775828, -8...|
|11540042|   JB559262|2018-11-12 00:00:00| 010XX N DEARBORN ST|1140| DECEPTIVE PRACTICE|        EMBEZZLEMENT|   CONVENIENCE STORE|  true|   false|1824|     018|   2|             8|     12|     1175747|     1907348|2018|03/16/2019 04:01:...|41.901133376|-87.629904979|(41.901133376, -8...|
|11504330|   JB512058|2018-11-10 23:55:00|021XX W GREENLEAF...|0820|              THEFT|      $500 AND UNDER|              STREET| false|   false|2411|     024|  50|             2|     06|     1160583|     1946926|2018|11/17/2018 04:14:...|42.010065214|-87.684502849|(42.010065214, -8...|
|11503920|   JB511504|2018-11-10 23:53:00|081XX S HERMITAGE...|0910|MOTOR VEHICLE THEFT|          AUTOMOBILE|           APARTMENT| false|   false|0614|     006|  21|            71|     07|     1166095|     1850727|2018|11/17/2018 04:14:...|41.745971025|-87.666970419|(41.745971025, -8...|
+--------+-----------+-------------------+--------------------+----+-------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 5 rows

##What are the top 10 number of reported crimes by Primary type, in descending order of occurence?

In [0]:
#Spark SQL
spark.sql("SELECT COUNT(1) as reported_crime_count,primary_type FROM reported_crimes GROUP BY primary_type ORDER BY reported_crime_count DESC LIMIT 10").show()

+--------------------+-------------------+
|reported_crime_count|       primary_type|
+--------------------+-------------------+
|             1418421|              THEFT|
|             1232219|            BATTERY|
|              771498|    CRIMINAL DAMAGE|
|              711647|          NARCOTICS|
|              418832|      OTHER OFFENSE|
|              418507|            ASSAULT|
|              388028|           BURGLARY|
|              314141|MOTOR VEHICLE THEFT|
|              265517| DECEPTIVE PRACTICE|
|              255599|            ROBBERY|
+--------------------+-------------------+

In [0]:
# Dataframe API
rc.groupBy("primary_type").count().orderBy("count",ascending=False).select(["count","primary_type"]).show(10)

+-------+-------------------+
|  count|       primary_type|
+-------+-------------------+
|1418421|              THEFT|
|1232219|            BATTERY|
| 771498|    CRIMINAL DAMAGE|
| 711647|          NARCOTICS|
| 418832|      OTHER OFFENSE|
| 418507|            ASSAULT|
| 388028|           BURGLARY|
| 314141|MOTOR VEHICLE THEFT|
| 265517| DECEPTIVE PRACTICE|
| 255599|            ROBBERY|
+-------+-------------------+
only showing top 10 rows

##What percentage of reported crimes resulted in an arrest?

In [0]:
#Dataframe API
rc.filter(col("arrest") == "true").count()*100/rc.count()

27.75412035327828

In [0]:
#Spark SQL
spark.sql("SELECT (COUNT(1) * 100 / (SELECT COUNT(1) FROM reported_crimes)) as Arrest_percent FROM  reported_crimes WHERE arrest = 'true'").show()

+-----------------+
|   Arrest_percent|
+-----------------+
|27.75412035327828|
+-----------------+

## What are the top 3 locations for reported crimes?

In [0]:
#Dataframe API
rc.groupBy("location_description").count().orderBy("count",ascending=False).show(3)

+--------------------+-------+
|location_description|  count|
+--------------------+-------+
|              STREET|1770573|
|           RESIDENCE|1144625|
|           APARTMENT| 698154|
+--------------------+-------+
only showing top 3 rows

In [0]:
#Spark SQL
spark.sql("SELECT COUNT(1),location_description FROM reported_crimes GROUP BY location_description ORDER BY COUNT(1) DESC LIMIT 3").show()

+--------+--------------------+
|count(1)|location_description|
+--------+--------------------+
| 1770573|              STREET|
| 1144625|           RESIDENCE|
|  698154|           APARTMENT|
+--------+--------------------+

##What is 3 days earlier that the oldest date and 3 days later than the most recent date?

In [0]:
#Dataframe API
from pyspark.sql import functions
from pyspark.sql.functions import min,max,date_add,date_sub

rc.select(date_sub(min(col("Date")),3).alias("min_date"),date_add(max(col("Date")),3).alias("max_date")).show()

+----------+----------+
|  min_date|  max_date|
+----------+----------+
|2000-12-29|2018-11-13|
+----------+----------+

In [0]:
#Spark SQL
spark.sql("SELECT date_sub(min(date),3) min_date,date_add(max(date),3) max_date FROM reported_crimes").show()

+----------+----------+
|  min_date|  max_date|
+----------+----------+
|2000-12-29|2018-11-13|
+----------+----------+

## Create a Dataframe from scratch and convert string to date,timestamp

In [0]:
from pyspark.sql.functions import to_date,to_timestamp
df = spark.createDataFrame([("2019-12-25 01:30:00 PM","ABC")],["Christmas_Day","random_col"])
df.show(truncate=False)

#Dataframe API
df.select(to_date("Christmas_Day","yyyy-MM-dd hh:mm:ss aa"),to_timestamp("Christmas_Day","yyyy-MM-dd hh:mm:ss aa")).show()

#Spark SQL
df.createOrReplaceTempView("date_table")
spark.sql("SELECT to_date(Christmas_Day,'yyyy-MM-dd hh:mm:ss aa'),to_timestamp(Christmas_Day,'yyyy-MM-dd hh:mm:ss aa') FROM date_table").show()

+----------------------+----------+
|Christmas_Day         |random_col|
+----------------------+----------+
|2019-12-25 01:30:00 PM|ABC       |
+----------------------+----------+

+--------------------------------------------------+-------------------------------------------------------+
|to_date(`Christmas_Day`, 'yyyy-MM-dd hh:mm:ss aa')|to_timestamp(`Christmas_Day`, 'yyyy-MM-dd hh:mm:ss aa')|
+--------------------------------------------------+-------------------------------------------------------+
|                                        2019-12-25|                                    2019-12-25 13:30:00|
+--------------------------------------------------+-------------------------------------------------------+

+-------------------------------------------------------------+------------------------------------------------------------------+
|to_date(date_table.`Christmas_Day`, 'yyyy-MM-dd hh:mm:ss aa')|to_timestamp(date_table.`Christmas_Day`, 'yyyy-MM-dd hh:mm:ss aa')|
+-------------------------------------------------------------+------------------------------------------------------------------+
|                                                   2019-12-25|                                               2019-12-25 13:30:00|
+-------------------------------------------------------------+------------------------------------------------------------------+

##Working with JOINs

In [0]:
!wget -O police-station.csv https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD
!ls -lt
!head police-station.csv
ps = spark.read.csv('police-station.csv',header=True).withColumnRenamed("DISTRICT NAME","DISTRICT_NAME")
ps.show()
ps.dtypes

--2020-04-15 20:54:15--  https://data.cityofchicago.org/api/views/z8bn-74gv/rows.csv?accessType=DOWNLOAD
Resolving data.cityofchicago.org (data.cityofchicago.org)... 52.206.68.26, 52.206.140.205, 52.206.140.199
Connecting to data.cityofchicago.org (data.cityofchicago.org)|52.206.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘police-station.csv’

police-station.csv      [ <=>                ]   5.57K  --.-KB/s    in 0s

2020-04-15 20:54:15 (513 MB/s) - ‘police-station.csv’ saved [5699]

total 2085176
drwxr-xr-x  2 root root       4096 Apr 15 18:45  spark-warehouse
drwx------  4 root root       4096 Apr 15 18:44  drive
-rw-r--r--  1 root root 1674980963 Apr 15 11:10  reported-crimes.csv
drwxr-xr-x  1 root root       4096 Apr  3 16:24  sample_data
-rw-r--r--  1 root root  230091034 Aug 27  2019  spark-2.4.4-bin-hadoop2.7.tgz
-rw-r--r--  1 root root  230091034 Aug 27  2019  spark-2.4.4-bin-hadoop2.7.tgz.1
drwxr-xr-x 13 1000 1000       4096 Aug 27  2019  spark-2.4.4-bin-hadoop2.7
-rw-r--r--  1 root root       5699 Aug 19  2019  police-station.csv
-rw-r--r--  1 root root       5699 Aug 19  2019 'rows.csv?accessType=DOWNLOAD'
-rw-r--r--  1 root root       5699 Aug 19  2019 'rows.csv?accessType=DOWNLOAD.1'
DISTRICT,DISTRICT NAME,ADDRESS,CITY,STATE,ZIP,WEBSITE,PHONE,FAX,TTY,X COORDINATE,Y COORDINATE,LATITUDE,LONGITUDE,LOCATION
1,Central,1718 S State St,Chicago,IL,60616,http://home.chicagopolice.org/community/districts/1st-district-central/,312-745-4290,312-745-3694,312-745-3693,1176569.052,1891771.704,41.85837259,-87.62735617,"(41.8583725929, -87.627356171)"
6,Gresham,7808 S Halsted St,Chicago,IL,60620,http://home.chicagopolice.org/community/districts/6th-district-gresham/,312-745-3617,312-745-3649,312-745-3639,1172283.013,1853022.646,41.75213684,-87.64422891,"(41.7521368378, -87.6442289066)"
11,Harrison,3151 W Harrison St,Chicago,IL,60612,http://home.chicagopolice.org/community/districts/11th-district-harrison/,312-746-8386,312-746-4281,312-746-5151,1155244.069,1897148.755,41.87358229,-87.70548813,"(41.8735822883, -87.705488126)"
16,Jefferson Park,5151 N Milwaukee Ave,Chicago,IL,60630,http://home.chicagopolice.org/community/districts/16th-district-jefferson-park/,312-742-4480,312-742-4421,312-742-4423,1138480.758,1933660.473,41.97409445,-87.76614884,"(41.9740944511, -87.7661488432)"
Headquarters,Headquarters,3510 S Michigan Ave,Chicago,IL,60653,http://home.chicagopolice.org,,,,1177731.401,1881697.404,41.83070169,-87.62339535,"(41.8307016873, -87.6233953459)"
24,Rogers Park,6464 N Clark St,Chicago,IL,60626,http://home.chicagopolice.org/community/districts/24th-district-rogers-park/,312-744-5907,312-744-6928,312-744-7603,1164193.588,1943199.401,41.99976348,-87.67132429,"(41.9997634842, -87.6713242922)"
2,Wentworth,5101 S Wentworth Ave,Chicago,IL,60609,http://home.chicagopolice.org/community/districts/2nd-district-wentworth/,312-747-8366,312-747-5396,312-747-6656,1175864.837,1871153.753,41.80181109,-87.63056018,"(41.8018110912, -87.6305601801)"
7,Englewood,1438 W 63rd St,Chicago,IL,60636,http://home.chicagopolice.org/community/districts/7th-district-englewood/,312-747-8223,312-747-6558,312-747-6652,1167659.235,1863005.522,41.77963154,-87.66088702,"(41.7796315359, -87.6608870173)"
25,Grand Central,5555 W Grand Ave,Chicago,IL,60639,http://home.chicagopolice.org/community/districts/25th-district-grand-central/,312-746-8605,312-746-4353,312-746-8383,1138770.871,1913442.439,41.91860889,-87.76557448,"(41.9186088912, -87.765574479)"
+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|            DISTRICT|    DISTRICT_NAME|             ADDRESS|   CITY|STATE|  ZIP|             WEBSITE|       PHONE|         FAX|         TTY|X COORDINATE|Y COORDINATE|   LATITUDE|   LONGITUDE|            LOCATION|
+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
|                   1|          Central|     1718 S State St|Chicago|   IL|60616|http://home.chica...|312-745-4290|312-745-3694|312-745-3693| 1176569.052| 1891771.704|41.85837259|-87.62735617|(41.8583725929, -...|
|                   6|          Gresham|   7808 S Halsted St|Chicago|   IL|60620|http://home.chica...|312-745-3617|312-745-3649|312-745-3639| 1172283.013| 1853022.646|41.75213684|-87.64422891|(41.7521368378, -...|
|                  11|         Harrison|  3151 W Harrison St|Chicago|   IL|60612|http://home.chica...|312-746-8386|312-746-4281|312-746-5151| 1155244.069| 1897148.755|41.87358229|-87.70548813|(41.8735822883, -...|
|                  16|   Jefferson Park|5151 N Milwaukee Ave|Chicago|   IL|60630|http://home.chica...|312-742-4480|312-742-4421|312-742-4423| 1138480.758| 1933660.473|41.97409445|-87.76614884|(41.9740944511, -...|
|        Headquarters|     Headquarters| 3510 S Michigan Ave|Chicago|   IL|60653|http://home.chica...|        null|        null|        null| 1177731.401| 1881697.404|41.83070169|-87.62339535|(41.8307016873, -...|
|                  24|      Rogers Park|     6464 N Clark St|Chicago|   IL|60626|http://home.chica...|312-744-5907|312-744-6928|312-744-7603| 1164193.588| 1943199.401|41.99976348|-87.67132429|(41.9997634842, -...|
|                   2|        Wentworth|5101 S Wentworth Ave|Chicago|   IL|60609|http://home.chica...|312-747-8366|312-747-5396|312-747-6656| 1175864.837| 1871153.753|41.80181109|-87.63056018|(41.8018110912, -...|
|                   7|        Englewood|      1438 W 63rd St|Chicago|   IL|60636|http://home.chica...|312-747-8223|312-747-6558|312-747-6652| 1167659.235| 1863005.522|41.77963154|-87.66088702|(41.7796315359, -...|
|                  25|    Grand Central|    5555 W Grand Ave|Chicago|   IL|60639|http://home.chica...|312-746-8605|312-746-4353|312-746-8383| 1138770.871| 1913442.439|41.91860889|-87.76557448|(41.9186088912, -...|
|                  10|            Ogden|    3315 W Ogden Ave|Chicago|   IL|60623|http://home.chica...|312-747-7511|312-747-7429|312-747-7471| 1154500.753| 1890985.501|41.85668453|-87.70838196|(41.8566845327, -...|
|                  15|           Austin|   5701 W Madison St|Chicago|   IL|60644|http://home.chica...|312-743-1440|312-743-1366|312-743-1485| 1138148.815| 1899399.078|41.88008346|-87.76819989|(41.8800834614, -...|
|                   3|   Grand Crossing|7040 S Cottage Gr...|Chicago|   IL|60637|http://home.chica...|312-747-8201|312-747-5479|312-747-9168| 1182739.183| 1858317.732|41.76643089|-87.60574786|(41.7664308925, -...|
|                  14|      Shakespeare|2150 N California...|Chicago|   IL|60647|http://home.chica...|312-744-8250|312-744-2422|312-744-8260| 1157304.426| 1914481.521|41.92110332|-87.69745182|(41.9211033246, -...|
|                   8|     Chicago Lawn|      3420 W 63rd St|Chicago|   IL|60629|http://home.chica...|312-747-8730|312-747-8545|312-747-8116| 1154575.242| 1862672.049|41.77898719|-87.70886382|(41.778987189, -8...|
|                   4|    South Chicago|     2255 E 103rd St|Chicago|   IL|60617|http://home.chica...|312-747-7581|312-747-5276|312-747-9169| 1193131.299| 1837090.265|41.70793329|-87.56834912|(41.7079332906, -...|
|                  20|          Lincoln|  5400 N Lincoln Ave|Chicago|   IL|60625|http://home.chica...|312-742-8714|312-742-8803|312-742-8841| 1158399.146| 1935788.826|41.97954951|-87.69284451|(41.9795495131, -...|
|                  18|       Near North|  1160 N Larrabee St|Chicago|   IL|60610|http://home.chica...|312-742-5870|312-742-5771|312-742-5773| 1172080.029| 1908086.527|41.90324165|-87.64335214|(41.9032416531, -...|
|                  12|        Near West|1412 S Blue Islan...|   null| null| null|                null|        null|        null|        null|        null|        null|       null|        null|                null|
|",Chicago,IL,6060...| -87.6569725149)"|                null|   null| null| null|                null|        null|        null|        null|        null|        null|       null|        null|                null|
|                   9|          Deering|   3120 S Halsted St|Chicago|   IL|60608|http://home.chica...|312-747-8227|312-747-5329|312-747-9172|  1171440.24| 1884085.224|41.83739443|-87.64640771|(41.8373944311, -...|
+--------------------+-----------------+--------------------+-------+-----+-----+--------------------+------------+------------+------------+------------+------------+-----------+------------+--------------------+
only showing top 20 rows

[('DISTRICT', 'string'),
 ('DISTRICT_NAME', 'string'),
 ('ADDRESS', 'string'),
 ('CITY', 'string'),
 ('STATE', 'string'),
 ('ZIP', 'string'),
 ('WEBSITE', 'string'),
 ('PHONE', 'string'),
 ('FAX', 'string'),
 ('TTY', 'string'),
 ('X COORDINATE', 'string'),
 ('Y COORDINATE', 'string'),
 ('LATITUDE', 'string'),
 ('LONGITUDE', 'string'),
 ('LOCATION', 'string')]

##The reported crimes dataset has only the district number. Add the district name by joining with the police station dataset

In [0]:
from pyspark.sql.functions import lpad
#Spark SQL
ps.createOrReplaceTempView("police_station")
spark.sql("SELECT rc.*,ps.DISTRICT_NAME FROM reported_crimes rc LEFT OUTER JOIN police_station ps ON rc.district = LPAD(ps.district,3,0)").show()

+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+--------------+
|     ID|Case_Number|               Date|               Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|    Latitude|    Longitude|            Location| DISTRICT_NAME|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+--------------+
|1730080|    G536683|2001-09-06 20:00:00|  093XX S CRANDON AV|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|41.724529445|-87.568237637|(41.724529445, -8...| South Chicago|
|1730081|    G534867|2001-09-06 20:12:38|    055XX S STATE ST|1710|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|41.793756617|-87.625531897|(41.793756617, -8...|     Wentworth|
|1730082|    G536731|2001-09-02 23:30:00|       015XX E 72 PL|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|41.763417826|-87.587682714|(41.763417826, -8...|Grand Crossing|
|1730084|    G532276|2001-09-05 17:15:00|   063XX S DREXEL AV|0820|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|41.780352676|-87.603035702|(41.780352676, -8...|Grand Crossing|
|1730087|    G536760|2001-09-07 12:00:00|  005XX N HALSTED ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|41.891857114|-87.647474422|(41.891857114, -8...|     Near West|
|1730088|    G536719|2001-09-07 10:00:00|008XX E MIDWAY PL...|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|2133|     002|null|          null|     07|     1182622|     1865900|2001|08/17/2015 03:03:...|41.787240066|-87.605942299|(41.787240066, -8...|     Wentworth|
|1730089|    G535462|2001-09-07 04:10:00|  063XX S MINERVA AV|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|    true|0314|     003|null|          null|    08B|     1185218|     1862870|2001|08/17/2015 03:03:...|41.778864827|-87.596519232|(41.778864827, -8...|Grand Crossing|
|1730091|    G536745|2001-08-27 00:01:00|   017XX W ALBION AV|0920| MOTOR VEHICLE THEFT|     ATT: AUTOMOBILE|               OTHER| false|   false|2432|     024|null|          null|     07|     1163232|     1943839|2001|08/17/2015 03:03:...|42.001538906|-87.674843633|(42.001538906, -8...|   Rogers Park|
|1730092|    G536772|2001-09-07 16:30:00|   082XX S MORGAN ST|4387|       OTHER OFFENSE|VIOLATE ORDER OF ...|           RESIDENCE| false|    true|0613|     006|null|          null|     26|     1171038|     1850252|2001|08/17/2015 03:03:...| 41.74456109|-87.648872089|(41.74456109, -87...|       Gresham|
|1730094|    G536735|2001-09-07 14:24:00|  052XX N LINCOLN AV|0810|               THEFT|           OVER $500|              STREET| false|   false|2011|     020|null|          null|     06|     1158483|     1934791|2001|08/17/2015 03:03:...|41.976809711|-87.692563577|(41.976809711, -8...|       Lincoln|
|1730097|    G536804|2001-09-07 07:00:00|       035XX W 26 ST|0820|               THEFT|      $500 AND UNDER|             CTA BUS| false|   false|1024|     010|null|          null|     06|     1153433|     1886545|2001|08/17/2015 03:03:...|41.844520531|-87.712419066|(41.844520531, -8...|         Ogden|
|1730098|    G536797|2001-09-07 08:00:00|  031XX S KOSTNER AV|0820|               THEFT|      $500 AND UNDER|VEHICLE NON-COMME...| false|   false|1031|     010|null|          null|     06|     1147599|     1883464|2001|08/17/2015 03:03:...|  41.8361796|-87.733908042|(41.8361796, -87....|         Ogden|
|1730099|    G536818|2001-09-07 08:00:00|    104XX S AVENUE L|1320|     CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|0432|     004|null|          null|     14|     1201796|     1836388|2001|08/17/2015 03:03:...|41.705790611|-87.536643149|(41.705790611, -8...| South Chicago|
|1730101|    G536824|2001-09-07 13:00:00|       008XX W 51 PL|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|0934|     009|null|          null|     14|     1171318|     1870652|2001|08/17/2015 03:03:...| 41.80053503|-87.647249836|(41.80053503, -87...|       Deering|
|1730103|    G536801|2001-09-07 10:00:00|  014XX W ARDMORE AV|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2013|     020|null|          null|     14|     1165729|     1938920|2001|08/17/2015 03:03:...|41.987987988|-87.665798627|(41.987987988, -8...|       Lincoln|
|1730104|    G532885|2001-09-05 22:34:28|   057XX S WABASH AV|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|            SIDEWALK|  true|   false|0233|     002|null|          null|     15|     1177657|     1866870|2001|08/17/2015 03:03:...|41.790015665|-87.624117276|(41.790015665, -8...|     Wentworth|
|1730106|    G536755|2001-09-07 07:45:00|    049XX W ADAMS ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|    true|1533|     015|null|          null|     26|     1143539|     1898838|2001|08/17/2015 03:03:...|41.878444691|-87.748421552|(41.878444691, -8...|        Austin|
|1730108|    G536849|2001-09-06 18:00:00|  062XX S PAULINA ST|0610|            BURGLARY|      FORCIBLE ENTRY|    RESIDENCE-GARAGE| false|   false|0714|     007|null|          null|     05|     1166122|     1863199|2001|08/17/2015 03:03:...|41.780195312| -87.66651722|(41.780195312, -8...|     Englewood|
|1730109|    G533074|2001-09-06 01:45:01|  044XX S FEDERAL ST|041A|             BATTERY| AGGRAVATED: HANDGUN|CHA PARKING LOT/G...| false|   false|0221|     002|null|          null|    04B|     1176393|     1875487|2001|08/17/2015 03:03:...|41.813690054|-87.628492882|(41.813690054, -8...|     Wentworth|
|1730110|    G536832|2001-09-07 16:00:00|      040XX E 134 ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|0433|     004|null|          null|     26|     1204479|     1816701|2001|08/17/2015 03:03:...|41.651699175|-87.527492734|(41.651699175, -8...| South Chicago|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+------------+-------------+--------------------+--------------+
only showing top 20 rows

In [0]:
#Dataframe API
rc.cache()
ps = ps.withColumn("format_district",lpad(col("district"),3,"0"))
#ps.columns
#rc.dtypes
rc.join(ps,ps.format_district == rc.District,"left_outer").drop('ADDRESS',
 'CITY',
 'STATE',
 'ZIP',
 'WEBSITE',
 'PHONE',
 'FAX',
 'TTY',
 'X COORDINATE',
 'Y COORDINATE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'format_district').show()

+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+--------+--------------+
|     ID|Case_Number|               Date|               Block|IUCR|        Primary_Type|         Description|Location_Description|Arrest|Domestic|Beat|District|Ward|Community_Area|FBICode|X_Coordinate|Y_Coordinate|Year|          Updated_On|DISTRICT| DISTRICT_NAME|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+--------+--------------+
|1730080|    G536683|2001-09-06 20:00:00|  093XX S CRANDON AV|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET|  true|   false|0413|     004|null|          null|     07|     1193108|     1843138|2001|08/17/2015 03:03:...|       4| South Chicago|
|1730081|    G534867|2001-09-06 20:12:38|    055XX S STATE ST|1710|OFFENSE INVOLVING...|ENDANGERING LIFE/...|            SIDEWALK| false|   false|0233|     002|null|          null|     26|     1177260|     1868230|2001|08/17/2015 03:03:...|       2|     Wentworth|
|1730082|    G536731|2001-09-02 23:30:00|       015XX E 72 PL|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|0324|     003|null|          null|     07|     1187677|     1857262|2001|08/17/2015 03:03:...|       3|Grand Crossing|
|1730084|    G532276|2001-09-05 17:15:00|   063XX S DREXEL AV|0820|               THEFT|      $500 AND UNDER|       PARK PROPERTY|  true|   false|0312|     003|null|          null|     06|     1183436|     1863397|2001|08/17/2015 03:03:...|       3|Grand Crossing|
|1730087|    G536760|2001-09-07 12:00:00|  005XX N HALSTED ST|0820|               THEFT|      $500 AND UNDER|              STREET| false|   false|1323|     012|null|          null|     06|     1170991|     1903929|2001|08/17/2015 03:03:...|      12|     Near West|
|1730088|    G536719|2001-09-07 10:00:00|008XX E MIDWAY PL...|0910| MOTOR VEHICLE THEFT|          AUTOMOBILE|              STREET| false|   false|2133|     002|null|          null|     07|     1182622|     1865900|2001|08/17/2015 03:03:...|       2|     Wentworth|
|1730089|    G535462|2001-09-07 04:10:00|  063XX S MINERVA AV|0460|             BATTERY|              SIMPLE|RESIDENCE PORCH/H...| false|    true|0314|     003|null|          null|    08B|     1185218|     1862870|2001|08/17/2015 03:03:...|       3|Grand Crossing|
|1730091|    G536745|2001-08-27 00:01:00|   017XX W ALBION AV|0920| MOTOR VEHICLE THEFT|     ATT: AUTOMOBILE|               OTHER| false|   false|2432|     024|null|          null|     07|     1163232|     1943839|2001|08/17/2015 03:03:...|      24|   Rogers Park|
|1730092|    G536772|2001-09-07 16:30:00|   082XX S MORGAN ST|4387|       OTHER OFFENSE|VIOLATE ORDER OF ...|           RESIDENCE| false|    true|0613|     006|null|          null|     26|     1171038|     1850252|2001|08/17/2015 03:03:...|       6|       Gresham|
|1730094|    G536735|2001-09-07 14:24:00|  052XX N LINCOLN AV|0810|               THEFT|           OVER $500|              STREET| false|   false|2011|     020|null|          null|     06|     1158483|     1934791|2001|08/17/2015 03:03:...|      20|       Lincoln|
|1730097|    G536804|2001-09-07 07:00:00|       035XX W 26 ST|0820|               THEFT|      $500 AND UNDER|             CTA BUS| false|   false|1024|     010|null|          null|     06|     1153433|     1886545|2001|08/17/2015 03:03:...|      10|         Ogden|
|1730098|    G536797|2001-09-07 08:00:00|  031XX S KOSTNER AV|0820|               THEFT|      $500 AND UNDER|VEHICLE NON-COMME...| false|   false|1031|     010|null|          null|     06|     1147599|     1883464|2001|08/17/2015 03:03:...|      10|         Ogden|
|1730099|    G536818|2001-09-07 08:00:00|    104XX S AVENUE L|1320|     CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|0432|     004|null|          null|     14|     1201796|     1836388|2001|08/17/2015 03:03:...|       4| South Chicago|
|1730101|    G536824|2001-09-07 13:00:00|       008XX W 51 PL|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|0934|     009|null|          null|     14|     1171318|     1870652|2001|08/17/2015 03:03:...|       9|       Deering|
|1730103|    G536801|2001-09-07 10:00:00|  014XX W ARDMORE AV|1310|     CRIMINAL DAMAGE|         TO PROPERTY|           RESIDENCE| false|   false|2013|     020|null|          null|     14|     1165729|     1938920|2001|08/17/2015 03:03:...|      20|       Lincoln|
|1730104|    G532885|2001-09-05 22:34:28|   057XX S WABASH AV|143A|   WEAPONS VIOLATION|UNLAWFUL POSS OF ...|            SIDEWALK|  true|   false|0233|     002|null|          null|     15|     1177657|     1866870|2001|08/17/2015 03:03:...|       2|     Wentworth|
|1730106|    G536755|2001-09-07 07:45:00|    049XX W ADAMS ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|    true|1533|     015|null|          null|     26|     1143539|     1898838|2001|08/17/2015 03:03:...|      15|        Austin|
|1730108|    G536849|2001-09-06 18:00:00|  062XX S PAULINA ST|0610|            BURGLARY|      FORCIBLE ENTRY|    RESIDENCE-GARAGE| false|   false|0714|     007|null|          null|     05|     1166122|     1863199|2001|08/17/2015 03:03:...|       7|     Englewood|
|1730109|    G533074|2001-09-06 01:45:01|  044XX S FEDERAL ST|041A|             BATTERY| AGGRAVATED: HANDGUN|CHA PARKING LOT/G...| false|   false|0221|     002|null|          null|    04B|     1176393|     1875487|2001|08/17/2015 03:03:...|       2|     Wentworth|
|1730110|    G536832|2001-09-07 16:00:00|      040XX E 134 ST|2820|       OTHER OFFENSE|    TELEPHONE THREAT|           RESIDENCE| false|   false|0433|     004|null|          null|     26|     1204479|     1816701|2001|08/17/2015 03:03:...|       4| South Chicago|
+-------+-----------+-------------------+--------------------+----+--------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+-------+------------+------------+----+--------------------+--------+--------------+
only showing top 20 rows

##What is the most frequently reported non-criminal activity

In [0]:
#Spark SQL
spark.sql("SELECT count(1) num,description FROM reported_crimes WHERE primary_type LIKE 'NON-CRIMINAL%' GROUP BY description ORDER BY num DESC LIMIT 3").show()

+---+--------------------+
|num|         description|
+---+--------------------+
|107|       LOST PASSPORT|
| 37|   FOID - REVOCATION|
|  9|NOTIFICATION OF C...|
+---+--------------------+

In [0]:
#Dataframe API
rc.cache()
rc.select(col("primary_type")).distinct().show(100,truncate=False)
#rc.show()
#rc.filter((col("primary_type") == "NON-CRIMINAL")  | (col("primary_type") == "NON-CRIMINAL ")).show()
rc.filter((col("primary_type") == "NON-CRIMINAL")  | (col("primary_type") == "NON-CRIMINAL (SUBJECT SPECIFIED)")).groupBy(col("Description")).count().orderBy("count",ascending=False).show()

+--------------------+-----+
|         Description|count|
+--------------------+-----+
|       LOST PASSPORT|  107|
|   FOID - REVOCATION|   37|
|NOTIFICATION OF C...|    9|
|NOTIFICATION OF S...|    8|
|CONCEALED CARRY L...|    5|
|      FOUND PASSPORT|    4|
|GUN OFFENDER NOTI...|    3|
+--------------------+-----+

##Which day of the week has the most number of reported crime

In [0]:
#Spark SQL
spark.sql("SELECT COUNT(1) num,SUBSTR(date,9,2) FROM reported_crimes GROUP BY SUBSTR(date,9,2) ORDER BY num DESC LIMIT 10").show()

+------+-------------------------------------+
|   num|substring(CAST(date AS STRING), 9, 2)|
+------+-------------------------------------+
|266599|                                   01|
|229215|                                   15|
|225363|                                   20|
|223812|                                   10|
|222567|                                   17|
|222217|                                   14|
|221511|                                   16|
|221220|                                   12|
|221044|                                   18|
|220596|                                   09|
+------+-------------------------------------+

In [0]:
#Dataframe API
from pyspark.sql.functions import substring,dayofweek,date_format

#dateofthemonth
rc.groupBy(substring(col("Date"),9,2).alias("Day")).count().orderBy("count",ascending=False).show()
#dateoftheweek
rc.groupBy(dayofweek(col("Date"))).count().orderBy("count",ascending=False).show()
#dayoftheweek
rc.groupBy(date_format(col("Date"),"E")).count().orderBy("count",ascending=False).show()

+---+------+
|Day| count|
+---+------+
| 01|266599|
| 15|229215|
| 20|225363|
| 10|223812|
| 17|222567|
| 14|222217|
| 16|221511|
| 12|221220|
| 18|221044|
| 09|220596|
| 21|220433|
| 05|220386|
| 19|220289|
| 06|220116|
| 07|220078|
| 08|220050|
| 23|219668|
| 11|219531|
| 28|219481|
| 13|219442|
+---+------+
only showing top 20 rows

+---------------+-------+
|dayofweek(Date)|  count|
+---------------+-------+
|              6|1016872|
|              4| 973785|
|              3| 967957|
|              7| 965084|
|              5| 964447|
|              2| 952637|
|              1| 911855|
+---------------+-------+

+--------------------+-------+
|date_format(Date, E)|  count|
+--------------------+-------+
|                 Fri|1016872|
|                 Wed| 973785|
|                 Tue| 967957|
|                 Sat| 965084|
|                 Thu| 964447|
|                 Mon| 952637|
|                 Sun| 911855|
+--------------------+-------+

## Define custom schema and datatypes when reading data from a CSV

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,BooleanType,DoubleType
rc.printSchema()
custom_schema = StructType([StructField("ID",IntegerType(),True),\
                            StructField("Case_num",StringType(),True) \
                            ])
print (custom_schema)
ps_test = spark.read.csv("police-station.csv",header=True,schema=custom_schema).show()

root
 |-- ID: string (nullable = true)
 |-- Case_Number: string (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary_Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location_Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community_Area: string (nullable = true)
 |-- FBICode: string (nullable = true)
 |-- X_Coordinate: string (nullable = true)
 |-- Y_Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated_On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

StructType(List(StructField(ID,IntegerType,true),StructField(Case_num,StringType,true)))
+----+--------------+
|  ID|      Case_num|
+----+--------------+
|   1|       Central|
|   6|       Gresham|
|  11|      Harrison|
|  16|Jefferson Park|
|null|          null|
|  24|   Rogers Park|
|   2|     Wentworth|
|   7|     Englewood|
|  25| Grand Central|
|  10|         Ogden|
|  15|        Austin|
|   3|Grand Crossing|
|  14|   Shakespeare|
|   8|  Chicago Lawn|
|   4| South Chicago|
|  20|       Lincoln|
|  18|    Near North|
|  12|     Near West|
|null|          null|
|   9|       Deering|
+----+--------------+
only showing top 20 rows

##RDD - How many police stations are there?

In [0]:
# Initialize the RDD by copying the data from another Dataframe
#ps_rdd = ps.rdd.map(lambda line : (line[0],line[1]))
#ps_rdd1 = ps.rdd.map(lambda line : line)
#ps_rdd.take(3)
#ps_rdd1.take(3)

#or
#Initialize it from a file contents
ps_rdd = sc.textFile("police-station.csv")
ps_rdd_header = ps_rdd.first()

ps_rdd = ps_rdd.filter(lambda line:line != ps_rdd_header)
ps_rdd.take(3)
# type(ps_rdd)
#ps_rdd.map(lambda line:line.split(",")).count()

#ps_rdd_header
#ps_rdd.top(5)

['1,Central,1718 S State St,Chicago,IL,60616,http://home.chicagopolice.org/community/districts/1st-district-central/,312-745-4290,312-745-3694,312-745-3693,1176569.052,1891771.704,41.85837259,-87.62735617,"(41.8583725929, -87.627356171)"',
 '6,Gresham,7808 S Halsted St,Chicago,IL,60620,http://home.chicagopolice.org/community/districts/6th-district-gresham/,312-745-3617,312-745-3649,312-745-3639,1172283.013,1853022.646,41.75213684,-87.64422891,"(41.7521368378, -87.6442289066)"',
 '11,Harrison,3151 W Harrison St,Chicago,IL,60612,http://home.chicagopolice.org/community/districts/11th-district-harrison/,312-746-8386,312-746-4281,312-746-5151,1155244.069,1897148.755,41.87358229,-87.70548813,"(41.8735822883, -87.705488126)"']

## Display the District ID, District name, Address and Zip for the police station with District ID 7

In [0]:
# RDD
ps_rdd.filter(lambda line : line.split(",")[0] == "7").map(lambda line : (line.split(",")[0],line.split(",")[1],line.split(",")[2],line.split(",")[5])).collect()


# Dataframe API
ps.filter(col("district") == "7").select(col("district"),col("district_name"),col("address"),col("zip")).show()

#Spark SQL
spark.sql("SELECT district,district_name,address,zip FROM police_station WHERE district = 7").show()

['1,Central,1718 S State St,Chicago,IL,60616,http://home.chicagopolice.org/community/districts/1st-district-central/,312-745-4290,312-745-3694,312-745-3693,1176569.052,1891771.704,41.85837259,-87.62735617,"(41.8583725929, -87.627356171)"',
 '6,Gresham,7808 S Halsted St,Chicago,IL,60620,http://home.chicagopolice.org/community/districts/6th-district-gresham/,312-745-3617,312-745-3649,312-745-3639,1172283.013,1853022.646,41.75213684,-87.64422891,"(41.7521368378, -87.6442289066)"',
 '11,Harrison,3151 W Harrison St,Chicago,IL,60612,http://home.chicagopolice.org/community/districts/11th-district-harrison/,312-746-8386,312-746-4281,312-746-5151,1155244.069,1897148.755,41.87358229,-87.70548813,"(41.8735822883, -87.705488126)"']

##RDD - Police stations 10 and 11 are geographically close to each other. Display the District ID, District name, address and zip code

In [0]:
ps_rdd.filter(lambda line : line.split(",")[0] == "10" or line.split(",")[0] =="11").map(lambda line : (line.split(",")[0],line.split(",")[1],line.split(",")[2],line.split(",")[5])).take(3)

[('11', 'Harrison', '3151 W Harrison St', '60612'),
 ('10', 'Ogden', '3315 W Ogden Ave', '60623')]